<!DOCTYPE html>
<html>
<head>
<title>Welcome to Mr. PHP</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="php 框架 html css js javascript 开发" />

<base href="<?php echo BASE_URI . 'public/'; ?>">
<link href="css/bootstrap.css" rel='stylesheet' type='text/css'/>
<link href="css/style.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<!--header-->
<div id="home" class="banner">
	<div class="container">
		<div id="banner-top" class="banner-top">		  		  
			<h1>
				<span class="left-icon"></span> Mr. PHP <span class="right-icon"></span>
				<div class="clearfix"></div>
			</h1>
		</div>
		<div class="top-menu">
			<ul class="nav">
				<li><a class="scroll" href="<?php echo BASE_URI; ?>">HOME</a></li>
				<li><a class="scroll" href="http://git.oschina.net/kofyu/MrPHP" target="_blank">DOWNLOADS</a></li>
				<li><a class="scroll" href="<?php echo siteUrl("index/doc"); ?>" target="_blank">DOC</a></li>
				<li><a class="scroll" href="<?php echo BASE_URI; ?>">FORUM</a></li>
			</ul>
			<div class="logo">
				<img src="images/logo.png" />
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--/header-->

<!--about-->
<div id="about" class="about">
	<div class="container">

		<h3><span class="left-icon"> </span>Welcome to join us<span class="right-icon"></span><div class="clearfix"> </div></h3>

		<div class="about-info">
			
			<div class="col-md-4 about-right">
				<h2>Introduce</h2>
				<p>
					Mr. PHP 是一个用于web开发的框架，目标是让你可以进行更好的开发，能够有效的提高开发效率，并且运行速度接近于原生php，封装的同时也给开发者留了很大的自由空间，项目仍在更新中，欢迎大家下载使用 <br />
				</p>
				
				<p>个人开发，还有许多不足，持续完善中... </p>
			</div>
			<div class="col-md-4 about-right">
				<h2>Advantage</h2>
				<ul>
					<li>路径问题可以根据不同的环境自动匹配，不需要配置网站的根URL等信息，本地开发完成后直接上传至服务器，配置基本不变，直接运行即可，避免了各种各样的服务端路径问题</li>
					<li>速度接近于原生php，封装的同时并没有影响太多php性能</li>
					<li>一个几乎零配置的框架</li>
					<li>封装的同时给开发者留了很大的开发空间，可以满足开发者的各种需求</li> 
				</ul> 
			</div>
			<div class="col-md-4 about-right">
				<h2>Downloads</h2>
				<p>
					github: <a href="https://github.com/kof97/MrPHP" target="_blank">https://github.com/kof97/MrPHP</a><br />
					文档地址 : <a href="<?php echo siteUrl("index/doc"); ?>" target="_blank">点我进入</a>
				</p>
				<h2>Author</h2>
				<p>
					author : LYJ <br />
					email : 1048434786@qq.com <br />
				</p>
				<p class="me">
					插播一条小广告： <br />
					目前大三，求暑期及大四的实习工作（7月初到岗），PHP开发相关的，下面是简历 <br />
					个人简历 PDF：<a href="<?php echo BASE_URI; ?>public/resume.pdf" target="_blank">点我传送</a> <br />
					个人简历 HTML：<a href="<?php echo BASE_URI; ?>public/resume.html" target="_blank">点我传送</a> <br />
					QQ : 1048434786
				</p>
			</div>
			<div class="clearfix"> </div>
			<div class="label-7"></div><div class="label-8"></div>
		</div>
	</div>
</div>
<!--/about-->

<!--foot-->
<div class="foot">
	<p>友情链接</p>
	<li><a href="http://kof666.com/portal.php" target="_blank">kof666漫谈网</a></li>
	<li><a href="http://cat666.com/" target="_blank">cat666弹幕视频网</a></li>
</div>
<!--foot-->
</body>
</html>